// color
$color-222 = #222222;
$color-666 = #666666;
$color-ccc = #cccccc;
$color-red = #ff0000;
$color-opacity-01 = rgba(255, 255, 255, .1);

// font
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
